#img{
  width: 400px;
  height: 400px;
}
.conateiner{
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
}
p{
  width: 80%;
}
body{
  align-content: center;
  margin: auto;
  font-size: larger;
}
select{
  background-color: maroon;
  color: aliceblue;
  font-size: large;
  font-style: italic;
}
#chapter02{
  	align-content: center;
	margin-left: 15%;
}